In [ ]:
TASK 1:
Your boss wants to know how electricity prices in NO2 and Germany have developed over the 
sample period. Therefore, she has asked you to create a line plot that visualizes the hourly 
electricity price in NO2 and Germany. The graph should: 
- consist of two subplots: 
o The first subplot shows the hourly electricity price in NO2 over time. 
o The second subplot shows the hourly electricity price in Germany over time. 
- add a vertical line to each subplot to indicate the official opening of Nordlink (December 
9, 2020).  
- be stored as a png file called “figure_task1.png”. 

What is your conclusion? How has the electricity price in NO2 and Germany developed over 
time? Have the prices increased or decreased after the opening of Nordlink? Extra: Do you have 
any suggestions for why we sometimes observe negative electricity prices?

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import glob

DATA_PATH = './data/DayAheadPrices_12.1.D'

pattern = f'{DATA_PATH}/*_DayAheadPrices_12.1.D.csv'


data = []

for file in glob.glob(pattern):
    df = pd.read_csv(file, sep = '\t', parse_dates= ['DateTime'])
    data.append(df)

df = pd.concat(data, axis = 0)
df

,DateTime,ResolutionCode,AreaCode,AreaTypeCode,AreaName,MapCode,Price,Currency,UpdateTime
0,2021-05-01 00:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,42.45,EUR,2021-04-30 15:06:02
1,2021-05-01 01:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,42.73,EUR,2021-04-30 15:06:02
2,2021-05-01 02:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,42.78,EUR,2021-04-30 15:06:02
3,2021-05-01 03:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,43.46,EUR,2021-04-30 15:06:02
4,2021-05-01 04:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,44.19,EUR,2021-04-30 15:06:02
...,...,...,...,...,...,...,...,...,...
32731,2019-08-07 17:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,57.19,EUR,2019-08-06 13:18:18
32732,2019-08-07 18:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,56.94,EUR,2019-08-06 13:18:18
32733,2019-08-07 19:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,56.00,EUR,2019-08-06 13:18:18
32734,2019-08-07 20:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,49.54,EUR,2019-08-06 13:18:18
32735,2019-08-07 21:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,43.76,EUR,2019-08-06 13:18:18