In [3]:
import pandas as pd
import glob
import matplotlib.pyplot as plt

DATA_PATH = './data/PhysicalFlows_12.1.G'
pattern = f'{DATA_PATH}/*_PhysicalFlows_12.1.G.csv'

data = []

for file in glob.glob(pattern):
    df = pd.read_csv(file, sep = '\t', parse_dates= ['DateTime'])
    data.append(df)

df = pd.concat(data, axis = 0)
df

                  DateTime InMapCode OutMapCode  FlowValue
0      2023-07-01 00:00:00        AL         GR        3.0
1      2023-07-01 01:00:00        AL         GR        3.0
2      2023-07-01 02:00:00        AL         GR        0.0
3      2023-07-01 03:00:00        AL         GR        0.0
4      2023-07-01 04:00:00        AL         GR        0.0
...                    ...       ...        ...        ...
230619 2020-03-31 19:00:00    UA_IPS         RU      243.0
230620 2020-03-31 20:00:00    UA_IPS         RU      270.0
230621 2020-03-31 21:00:00    UA_IPS         RU      282.0
230622 2020-03-31 22:00:00    UA_IPS         RU      182.0
230623 2020-03-31 23:00:00    UA_IPS         RU      330.0

[14402346 rows x 4 columns]